
head {
	position: fixed;
	top: 0;
	height: 100px;
	z-index: 1;
}


body {
	background:white;
  background-attachment: fixed;
  background-position: center center;
  color: black;
	font-size: 25px;
  word-wrap: break-word;
  font-family:inherit
}

/* トップページの一覧に関するスタイル----------------------------------------------*/
figure {
    display: inline-block;   /* インラインブロック化 */
    margin: 0px 3px 7px 0px; /* 外側に余白を追加(※右に3px・下に7px) */
    background-color: #efefef; 
    vertical-align: top
}
figure img {
    display: block;          /* 余計な余白が出ないようにする */
    margin: 0px 0px 3px 0px; /* 下側にだけ3pxの余白を追加 */
    width: 200px;
    height: 200px;
    object-fit: cover; /* 画像のトリミング */
}
figcaption {
    width: 150px;
    height: 80px;
    font-size: 0.9em;        /* 文字サイズを90%に */
    text-align: center;      /* 中身をセンタリング */
    word-wrap: break-word;
}
/* ---------------------------------------------------------------------------*/

