/*
Tutorial Name: Scroll To Top Then Fixed Navigation Effect With JQuery and CSS
https://stanhub.com/scroll-to-top-then-fixed-navigation-effect-with-jquery-and-css-free-download/
Description: Create a sticky navigation bar that remains fixed to the top after scroll
Author: Stan Kostadinov
Author URI: https://stanhub.com
Version: 1.0.0 - 11.01.2014
*/

* {margin: 0; padding: 0;}

a {text-decoration: none;}

/* This class is added on scroll */
head {
	position: fixed;
	top: 0;
	height: 100px;
	z-index: 1;
  
}

body {
	background:whitesmoke;
  background-attachment: fixed;
  background-position: center center;
  color: black;
	font-size: 25px;
	text-align: center ;
  word-wrap: break-word;
  font-family: cursive;
}

/* Navigation Settings */
nav {
  position: fixed;
  top: 0px;
  bottom: 0;
  width: 100%;
	height: 100px;
	background: rgba(34, 33, 33, 0.637);
  background-attachment: fixed;
  background-position: center center;
  font-family:cursive;
}

nav li {
	display: inline-block;
	padding: 30px 50px;
}

nav li a {
	color: white;
	text-transform: uppercase;
}

section {
	height: 100vh;
  background: center;
}

/* Screens Settings */
#screen1 {
	background: #69c2b1;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 260px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 30px 25px;
  bottom: 0;
  border: 1px solid;
}

#screen1 p {
	padding-top: 70px;

}


#small1 {
	background-color:orange;
  background-attachment: fixed;
  background-position: center;
  width: 220px;
  height: 50px;
  border: 1px solid;
  border-bottom: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -1px;
  font-family: cursive;
  text-align: center;
}

div{
  

}
#big1 {
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 260px;
  height: 500px;
  padding: 30px 25px;
  border: 1px solid;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;

}

#small2 {
	background-color:cornflowerblue;
  background-attachment: fixed;
  background-position: center;
  width: 220px;
  height: 50px;
  border: 1px solid;
  border-bottom: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -1px;
  font-family: cursive;
  text-align: center;
}

#big2 {
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 260px;
  height: 500px;
  padding: 30px 25px;
  border: 1px solid;
  font-family: sans-serif;
  font-size: 16px;
}

#small3 {
	background-color:palevioletred;
  background-attachment: fixed;
  background-position: center;
  width: 220px;
  height: 50px;
  border: 1px solid;
  border-bottom: transparent;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -1px;
  font-family: cursive;
  text-align: center;
}

#big3 {
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 260px;
  height: 500px;
  padding: 30px 25px;
  border: 1px solid;
  font-family: sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 500px) {

	nav li {
		padding: 24px 4px;
	}

	nav li a {
		font-size: 14px;
	}

}

footer{
  width: 100%;
  height: 500px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color:rgba(34, 33, 33, 0.637);
  background-attachment: fixed;
  background-position: center center;
  color: white;
  text-align: center;
}

ul.footer-menu li {
  display: inline;
  text-transform: uppercase;
  }