
head {
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 1;
  
}

body {
    background:white;
  background-attachment: fixed;
  background-position: center center;
  color:rgb(41, 41, 41);
    font-size: 25px;
  word-wrap: break-word;
  font-family:inherit
}

h2 {
	color:black;
}


html, body {
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    margin-left: 15px;
    margin-bottom: 40px;
    background: white;
}

/* 画面幅の50%の幅で画像を表示 */
.image-vw {
    width : 100vw ; 
  }

  
